---
import Pages from "../components/Pages.astro"
import Section from "../components/UI/Section.astro"
---
<Pages
  title="BRDG"
  videoSrc="https://www.youtube.com/embed/PR__eFQsnhg?si=1Ky8ByY8FdCK6yc8"
  githubHref="https://github.com/kahikatea-2024/brdge-app"
>
  <Section headline="Project Description">
    <p>
      BRDG is a social media platform specifically designed for junior developers, recent graduates, career changers, and school leavers. Our team of five at Dev Academy recognized that many new entrants to the tech industry find platforms like LinkedIn overwhelming. We created BRDG to provide a more supportive space for their transition into tech careers.
    </p>
    <p>
      I worked on the frontend using:
    </p>
    <ul>
      <li>Figma for design</li>
      <li>React/TypeScript for UI</li>
      <li>Tailwind for styling</li>
    </ul>
  </Section>

  <Section headline="Key Features">
    <ul>
      <li>Landing page introduction</li>
      <li>Auth with posting system</li>
      <li>Light/dark mode</li>
    </ul>
  </Section>

  <Section headline="Lessons Learned">
    <p>
      I learned a lot about teamwork, full-stack integration, and user testing with design systems.
    </p>
  </Section>
</Pages>
