---
import Layout from '../layouts/Layout.astro';
import Githublink from '../components/UI/Githublink.astro';
import { Icon } from 'astro-icon/components'
import NavBar from '../components/NavBar.astro';
import Project5Text from '../components/UI/Project5Text.astro';




---
<Layout title="Commenting Service">
  <NavBar/>
  <div class="flex justify-center items-center pt-10">
    <h1 class="lg:text-6xl text-2xl   text-center font-audiowide p-4 text-lightBlue pb-20">Commenting Service</h1>
  </div>
  <div style="  margin: auto; max-width: 600px;" class="p-4">
    <div style=" position: relative;
    height: 0;
    padding-bottom: 56.25%;">
      <iframe style="    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;" width="560" height="315" src="https://www.youtube.com/embed/_6UUnPPVcEQ?si=asCKPD1MBRKIgN8B" allowfullscreen></iframe>
    </div>
  </div>
  <section class="text-lightGrey flex flex-col items-center justify-center  text-center ">

   <Project5Text/>
 
  </section>
  <div class="flex justify-center items-center ">
  <a class="flex flex-col items-center p-1 bg-slate-300  rounded-lg mt-8 mb-8 hover:bg-gray-500 hover:scale-105 transition-all duration-300 w-full max-w-sm" href="https://github.com/fatima-yar/commentbackend">
    <Icon name="Github" class="lg:text-8xl text-5xl text-black"/>
    <code class="text-center text-black lg:text-3xl">&lt;/&gt;</code>

    <p class="text-center text-black lg:text-xl">Click here to see the source code</p>
  </a>
</div>
</Layout>
