---
import Layout from '../layouts/Layout.astro';

import NavBarButtons from '../components/UI/NavBarButtons.astro';
import Title from '../components/UI/Title.astro'
import HeroBox from '../components/HeroBox.astro';
import Intro from '../components/Intro.astro';



---

<Layout title="Fatima">
	<main > 

<NavBarButtons/>
<div class="">
<Intro>
</div>

</div>

	</main>
</Layout>
