---
import Layout from '../layouts/Layout.astro';
import SocialLogo from '../components/UI/SocialLogo.astro'
import NavBarButtons from '../components/UI/NavBarButtons.astro';
import Title from '../components/UI/Title.astro'
import PortfolioButton from '../components/UI/PortfolioButton.astro'



---

<Layout title="">
	<main> 
<p>HELLO wORLD
<NavBarButtons/>
<Title/>
<PortfolioButton/>
</p>

	</main>
</Layout>
