---
import Layout from '../layouts/Layout.astro';

import NavBarButtons from '../components/UI/NavBarButtons.astro';
import Title from '../components/UI/Title.astro'
import HeroBox from '../components/HeroBox.astro';
import Intro from '../components/Intro.astro';
import NavBar from '../components/NavBar.astro';
import AboutMe from '../components/AboutMe.astro'
import Portfolio from '../components/Portfolio.astro';
import ContactForm from '../components/ContactForm.astro';
import TechLogos from '../components/TechLogos.astro';




---

<Layout title="Fatima">
	<main  > 
<NavBar />
<Intro  id="about"/>
<AboutMe/>
<Portfolio id="portfolio"/>
<TechLogos/>
<ContactForm id="contact"/>
	</main>
</Layout>
