---
import Layout from '../layouts/Layout.astro';

import NavBarButtons from '../components/UI/NavBarButtons.astro';
import Title from '../components/UI/Title.astro'
import HeroBox from '../components/HeroBox.astro';
import Intro from '../components/Intro.astro';
import NavBar from '../components/NavBar.astro';



---

<Layout title="Fatima">
	<main > 
<NavBar/>
<Intro/>
<NavBarButtons/>
	</main>
</Layout>
