---
import Layout from '../layouts/Layout.astro';

import NavBarButtons from '../components/UI/NavBarButtons.astro';
import Title from '../components/UI/Title.astro'




---

<Layout title="Fatima">
	<main > 
<p>HELLO wORLD
<NavBarButtons/>
<div class=" flex justify-items-start pt-20 pl-20">
<Title/>
</div>

</div>

	</main>
</Layout>
