---
import Pages from "../components/Pages.astro"
import Projects from "../components/Projects.astro"
import Layout from "../layouts/Layout.astro"
---

<Pages
title="BRDG"
videoSrc="https://www.youtube.com/embed/PR__eFQsnhg?si=1Ky8ByY8FdCK6yc8" 


githubHref="https://github.com/kahikatea-2024/brdge-app"
>
<div slot="description">
    <p>
      BRDG is a social media platform specifically designed for junior developers to connect and collaborate on projects.
    </p>
    <p>
      My task was to handle the frontend development along with two other teammates. I focused on building reusable components and implementing state management.
    </p>
    <ul>
      <li>Figma for initial designs</li>
      <li>TypeScript and React for building UIs</li>
      <li>Tailwind CSS for styling</li>
      <li>Storybook for testing UI components</li>
    </ul>
  </div>
  

</Pages>


