---
import Layout from '../layouts/Layout.astro';


import Navbar from '../components/Navbar.astro'

import Header from '../components/Header.astro'
import Menu from '../components/UI/Menu.astro';
import HeroBox from '../components/HeroBox.astro'
import NavBarButtons from '../components/UI/NavBarButtons.astro';


---

<Layout title="Test">
	<main>
<!-- <Header/> -->

<NavBarButtons/>
    <!-- <HeroBox/> -->
<Menu/>
    
	</main>
</Layout>
