---
import Descriotion from "../components/UI/Description.astro"
import PortfolioButton from "./UI/CVButton.astro"
---

<div class="flex mt-40">
  <div class="flex-none ml-[25%]">
    <img src="./photo.jpg" class="h-auto w-60 object-cover border-4 border-double border-brightPink ">

  </div>
  <div class="ml-12 mr-[25%]">
    <h1 class="text-lightGrey text-3xl pb-4 ">About Me</h1>
    <Descriotion/>
    <div class="mt-8">
    <PortfolioButton/>
  </div>
  </div>
</div>