---
import Descriotion from "../components/UI/Description.astro"
import TechLogos from "./TechLogos.astro";
import PortfolioButton from "./UI/CVButton.astro"
const { id } = Astro.props;
---

<div id={id} class="lg:flex lg:mt-20 mt-10">
  <div class="flex-none ml-10 lg:ml-[25%]">
    <img src="./fatima2.jpg" class="h-auto w-60 object-cover border-4 border-double border-brightPink animate-fadeUp" alt="photo">

  </div>
  <div class="lg:ml-12 mr-4 lg:mr-[25%] ml-4">
    <h1 class="text-lightBlue font-audiowide  text-3xl pb-4 pt-8 lg:pl-0 pl-8 lg:pt-0 animate-fadeUp">About Me</h1>
    <Descriotion/>

    <div class="mt-8 pl-8 lg:pl-0">
    <PortfolioButton/>
  </div>
  </div>
</div>