---
import Descriotion from "../components/UI/Description.astro"
import PortfolioButton from "./UI/CVButton.astro"
---

<div class="lg:flex lg:mt-40 mt-10">
  <div class="flex-none ml-4 lg:ml-[25%]">
    <img src="./photo.jpg" class="h-auto w-60 object-cover border-4 border-double border-brightPink ">

  </div>
  <div class="lg:ml-12 mr-4 lg:mr-[25%] ml-4">
    <h1 class="text-lightGrey text-3xl pb-4 pt-8 ">About Me</h1>
    <Descriotion/>
    <div class="mt-8">
    <PortfolioButton/>
  </div>
  </div>
</div>