---
import ContactBtn from "./UI/GithubBtn.astro";
import GithubBtn from "./UI/GithubBtn.astro"
import LinkedinBtn from "./UI/LinkedinBtn.astro"
import PhoneBtn from "./UI/PhoneBtn.astro"
import EmailBtn from "./UI/EmailBtn.astro"
---

<div class="pt-10">
<div class="text-lightBlue text-3xl flex justify-center">Contact Me</div>
<div class="text-lightGrey flex justify-center pt-8">What to get in touch? Here are the ways you can reach out!</div>
<div class="grid lg:grid-cols-2 md:grid-cols-2 lg:gap-8 gap-4 w-[50%] mx-auto pt-10">
  <EmailBtn/>
 <PhoneBtn/>
<GithubBtn/>
<LinkedinBtn/>

    
        
</div>


</div>

<div class="">
<iframe style="border:none;width:100%;" id="contact-form-1tzlrv" src="https://opnform.com/forms/contact-form-1tzlrv"></iframe><script type="text/javascript" onload="initEmbed('contact-form-1tzlrv')" src="https://opnform.com/widgets/iframe.min.js"></script>
</div></div>