---
import CVButton from "./UI/CVButton.astro";
---

<div class="pt-10">
<div class="text-lightBlue text-3xl flex justify-center">Contact Me</div>
<div class="text-lightGrey flex justify-center pt-8">What to get in touch? Here are the ways you can reach out!</div>
<div class="grid grid-cols-2 gap-4 w-[30%] mx-auto pt-10">
 
<div class="text-blackhover:brightness-105 bg-gray-300 border-4 border-double border-brightPink pl-6 pr-6 pt-6 pb-6 rounded-md  hover:scale-105 transition-all duration-300">
<button onclick="window.open('mailto:fatima.yarhamidi@gmail.com', '_blank');" >Email</button>
</div>

<div class="text-blackhover:brightness-105 bg-gray-300 border-4 border-double border-brightPink pl-6 pr-6 pt-6 pb-6 rounded-md  hover:scale-105 transition-all duration-300">
  <button onclick="window.open('mailto:fatima.yarhamidi@gmail.com', '_blank');" >Phone</button>
  </div>
  

  <div class="text-blackhover:brightness-105 bg-gray-300 border-4 border-double border-brightPink pl-6 pr-6 pt-6 pb-6 rounded-md  hover:scale-105 transition-all duration-300">
    <button onclick="window.open('mailto:fatima.yarhamidi@gmail.com', '_blank');" >Github</button>
    </div>
    
    <div class="relative text-black hover:brightness-105 bg-gray-300 border-4 border-double border-brightPink pl-6 pr-6 pt-6 pb-6 rounded-md hover:scale-105 transition-all duration-300">
      <button onclick="window.open('mailto:fatima.yarhamidi@gmail.com', '_blank');">LinkedIn</button>
      <img src="instagram.png" class="absolute top-0 right-0 mt-3 mr-6">
    </div>
    
        
</div>


</div>

<div class="">
<iframe style="border:none;width:100%;" id="contact-form-1tzlrv" src="https://opnform.com/forms/contact-form-1tzlrv"></iframe><script type="text/javascript" onload="initEmbed('contact-form-1tzlrv')" src="https://opnform.com/widgets/iframe.min.js"></script>
</div></div>