---
import ContactBtn from "./UI/GithubBtn.astro";
import GithubBtn from "./UI/GithubBtn.astro"
import LinkedinBtn from "./UI/LinkedinBtn.astro"
import PhoneBtn from "./UI/PhoneBtn.astro"
import EmailBtn from "./UI/EmailBtn.astro"
const { id } = Astro.props;

---


<div id={id} class="pt-10 pl-8 pr-8">
  <div class="text-lightBlue text-3xl flex justify-center">Contact Me</div>
  <div class="text-lightGrey flex justify-center pt-8">Want to get in touch? Here are the ways you can reach out!</div>

  <div class="flex justify-center">
    <div class="grid grid-cols-3 gap-1 text-lightGrey pt-10 pb-2 w-80">
      <div class="flex justify-center items-center"><EmailBtn/></div>
      <div class="flex justify-center items-center"><GithubBtn/></div>
      <div class="flex justify-center items-center"><LinkedinBtn/></div>
    </div>
  </div>
</div>
<form
  action="https://formspree.io/f/mqabjzar"
  method="POST"
  class="bg-darkBlue text-brightPink p-6 rounded-lg max-w-xl mx-auto space-y-4"
>
  <div class="flex flex-col">
    <label for="name" class="mb-1">Name:</label>
    <input
      id="name"
      type="text"
      name="name"
      required
      class="bg-darkGrey text-white rounded-md p-2 w-full border border-gray-600 focus:border-2 focus:border-brightPink focus:outline-none"
    />
  </div>

  <div class="flex flex-col">
    <label for="email" class="mb-1">Email:</label>
    <input
      id="email"
      type="email"
      name="email"
      required
      class="bg-darkGrey text-white rounded-md p-2 w-full border border-gray-600 focus:border-2 focus:border-brightPink focus:outline-none"
    />
  </div>

  <div class="flex flex-col">
    <label for="message" class="mb-1">Message:</label>
    <textarea
      id="message"
      name="message"
      required
      rows="5"
      class="bg-darkGrey text-white rounded-md p-2 w-full border border-gray-600 focus:border-2 focus:border-brightPink focus:outline-none"
    ></textarea>
  </div>

  <button
    type="submit"
    class="text-lightGrey bg-brightPink pl-6 pr-6 pt-2 pb-2 rounded-md hover:scale-105 transition-all duration-300"
  >
    Send
  </button>
</form>
</div>