---
import SocialLogo from "./UI/SocialLogo.astro"
import Address from "./UI/Address.astro"
---


<div class="bg-darkPink flex items-center">
  <div class=" hidden md:block text-xs p-2 pl-28 text-lightGrey  ">
    <Address/>
  </div>
  <div class="ml-auto pr-35">
    <SocialLogo/>
  </div>
</div>