---
import BookingButton from './UI/PortfolioButton.astro'
---

<header class="bg-gradientPink">
  <div class="container px-0 py-0 mx-auto">
    <div class="lg:flex">
      <div class="w-full lg:w-1/2">
        <div class="lg:max-w-full">
          <h1 class="text-3xl font-cantora text-darkGrey lg:text-6xl pt-20">Hairdressing With a Purpose!</h1>
          <p class="mt-3 text-lg text-darkGrey pt-10">We Believe our Reputation is only as good as our last Hair service, Working together as a Team WE ensure our Clients always LOOK and FEEL Magnificent!</p>
          <div class="pt-4 lg:pt-10">
          <BookingButton />
        </div></div>
      </div>

      <div class="flex justify-end mt-6 lg:mt-0 w-full lg:w-1/2">
        <img class="w-full h-full lg:max-w-xl" src="./heroimage.png" alt="Catalogue-pana.svg">
      </div>
    </div>
  </div>
</header>
