<div class="mx-auto text-center" style="width: 60%;">
  <p class="md:text-2xl sm:text-2xl lg:text-3xl font-cantora pb-4 pt-8 sm:pt-8">
    Image Hair is a Talented, Dynamic and Professional Team, Dedicated to exceeding Expectations.
  </p>
  <p class=" lg:pt-8 sm:pt-4 text-base lg:text-lg md:text-sm sm:text-sm pb-8">
    Our Purpose is to Provide YOU with an unparalleled Experience in Style and Comfort and make YOU look and Feel GREAT.
    The Team at Image believes that Attention to detail and Understanding our Customers is the key to a Successful Salon Experience. To ensure this, ALL our Staff have extensive training and share a wealth of knowledge in technical, creative colouring and cutting.
    Our mission is simple: Dedicated to Consistent Excellence in Professionalism, Friendliness and Beautiful Hair.
  </p>
</div>
