---
import Logo from '../components/UI/Logo.astro'
import NavBarButtons from './UI/NavBarButtons.astro'
---
<header class="sticky top-0 z-50 bg-white w-full shadow-md">
<nav class="relative px-1 py-1 flex justify-between items-center bg-white">
  <div class="pl-24">
<Logo /></div>

<div class="lg:hidden">
  <button class="navbar-burger flex items-center text-black  hover:text-brightPink p-3">
    <svg class="block h-6 w-6 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <title>Mobile menu</title>
      <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
    </svg>
  </button>
</div>
<NavBarButtons/>
</nav>

<div class="navbar-menu relative z-50 hidden">
  <div class="navbar-backdrop fixed inset-0 bg-dirtyPink opacity-60"></div>
  <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
    <div class="flex items-center mb-8">
      <a class="mr-auto text-3xl font-bold leading-none" href="#">

      </a>
      <button class="navbar-close">
        <svg class="h-6 w-6 text-black cursor-pointer hover:text-brightPink" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      
      </button>
      </div>
      <div>
				<ul>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-black hover:bg-dirtyPink opacity-60 hover:text-white rounded" href="/">Home</a>
					</li>
          <li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-black hover:bg-dirtyPink opacity-60 hover:text-white rounded" href="/">Portfolio</a>
					</li>
          <li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-black hover:bg-dirtyPink opacity-60 hover:text-white rounded" href="/">Services</a>
					</li>
          <li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-black hover:bg-dirtyPink opacity-60 hover:text-white rounded" href="/">About Us</a>
					</li>
          <li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-black hover:bg-dirtyPink opacity-60 hover:text-white rounded" href="/">Career</a>
					</li>
          				<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-black hover:bg-dirtyPink opacity-60 hover:text-white rounded" href="/">Contact</a>
					</li>
        </header>




          <script>
            // Burger menus
            document.addEventListener('DOMContentLoaded', function() {
                // open
                const burger = document.querySelectorAll('.navbar-burger');
                const menu = document.querySelectorAll('.navbar-menu');
            
                if (burger.length && menu.length) {
                    for (var i = 0; i < burger.length; i++) {
                        burger[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }
            
                // close
                const close = document.querySelectorAll('.navbar-close');
                const backdrop = document.querySelectorAll('.navbar-backdrop');
            
                if (close.length) {
                    for (var i = 0; i < close.length; i++) {
                        close[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }
            
                if (backdrop.length) {
                    for (var i = 0; i < backdrop.length; i++) {
                        backdrop[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }
            });
            </script>