---
import NavBarButtons from "./UI/NavBarButtons.astro";
---

<!-- Hamburger Menu Button -->

<div class="tham tham-e-squeeze tham-w-6">
  <div class="tham-box">
    <div class="tham-inner bg-white" />
  </div>
</div>
<!-- Navigation List -->
<ul id="nav-list" class="flex space-x-24 space-y-10 justify-center">
  <li></li>
  <li><a class="text-lightGrey hover:text-brightPink" href="/">Home</a></li>
  <li><a class="text-lightGrey hover:text-brightPink" href="/portfolio">About&nbspMe</a></li>
  <li><a class="text-lightGrey hover:text-brightPink" href="/services">Portfolio</a></li>
  <li><a class="text-lightGrey hover:text-brightPink" href="/career">My&nbspCV</a></li>
  <li><a class="text-lightGrey hover:brightness-150 bg-gradientPink pl-3 pr-3 pt-2 pb-2 rounded-md" href="/contactus">Contact</a></li>
</ul>

  
<script>

const tham = document.querySelector(".tham");
  
tham.addEventListener('click', () => {
  tham.classList.toggle('tham-active');
});
</script>

