---
import { Icon } from 'astro-icon/components'

const { title, videoSrc, githubHref, githubLabel } = Astro.props;
---

  <div class="flex justify-center items-center pt-10">
<!-- TITLE -->
    <h1 class="lg:text-6xl text-2xl   text-center font-audiowide p-4 text-lightBlue pb-20">{title}<h1>
</div>