---
import ProjectCard from "./UI/ProjectCard.astro"
const { id } = Astro.props;
---


<div id={id} class=" pt-20">
  <div  class="text-lightBlue font-audiowide flex justify-center text-3xl lg:text-6xl pb-8 animate-fadeIn" >
 Projects
  </div>
  <div class="grid lg:grid-cols-3 grid-cols-1 pt-10 place-items-center">
<ProjectCard
title="  Dream Catchers World Wide"
imageSrc="./dreamcatchers.jpg"
projectLink="/dreamcatchers"
icons={['Nextjs', 'JavaScript', 'React', 'TailwindCSS', 'Figma', 'Strapi', 'Vercel', 'HTML5', 'Nodejs']}/>
<ProjectCard
title="BRDG"
imageSrc="./brdgresponsive.jpg"
projectLink="/brdg"
icons={['TypeScript', 'HTML5', 'React', 'TailwindCSS', 'Nodejs', 'Knexjs', 'SQLite', 'Figma', 'Storybook']}/>
<ProjectCard
title="Hair Salon"
imageSrc="./ImageHairCover.jpg"
projectLink="/hairsalon"
icons={['Astro','TailwindCSS','HTML5','JavaScript','Nodejs','Figma','Canva']}/>

<ProjectCard
title="Universal Book Collection"
imageSrc="./Book-Responsive.jpg"
projectLink="/universalcollection"
icons={['TypeScript','HTML5','React','CSS','Nodejs','Knexjs','SQLite']}/>

<ProjectCard
title="Code Quest"
imageSrc="./codequest.jpg"
projectLink="/codequest"
icons={['React','TypeScript','TailwindCSS','HTML5','Nodejs', 'SQLite', 'Knexjs']}/>


<ProjectCard
title="Commenting Service"
imageSrc="./commentingService.jpg"
projectLink="/commentingService"
icons={['React', 'TypeScript', 'TailwindCSS', 'HTML5', 'Nodejs','SQLite','Knexjs']}/>


  </div>
</div>

