---
import Project1 from "../components/UI/Project1.astro"
import Project2 from "../components/UI/Project2.astro"
import Project from "../components/UI/Project.astro"
const { id } = Astro.props;
---


<div id={id} class=" pt-32">
  <div class="text-lightBlue ml-[25%] text-3xl">
  MY Projects
  </div>
  <div class="grid grid-flow-row-dense xl:grid-cols-3 md:grid-1 pt-10 ml-0 lg:ml-[10%] ">


  <Project1/>
  <Project2/>
  <Project/>
  <Project/>

  
   

  </div>
</div>