---
const {
  title,
  projectLink,
  imageSrc,
  imageAlt,
  description,
  contribution = [],
  features = [],
  stack = {},
  challenges = "",
  outcome = "",
  icons=[],
  showSections = {
    description : true,
    contribution: true,
    features: true,
    stack: true,
    challenges: true,
    outcome: true,
  },

}=Astro.props
---
<div class="flex justify-center items-center ">
  <div class="w-full max-w-3xl p-8">
    <div class="text-lightGrey text-left">


{showSections.description && description && (
<>
<h2 class="text-3xl pb-6 pt-10 font-bold">Project Description:</h2>
<p class="pb-4">{description}</p>
    </>
)}




  </div>




  </div>
    


</div>

