---
import { Icon } from "astro-icon/components";
---


<div class="overflow-hidden shadow-sm pt-28 px-8 md:px-20 lg:px-40">
  <div class="marquee-content flex flex-wrap gap-2 items-center justify-center"> 

      <div class="p-2">
      <Icon name="tsicon"  class=" text-5xl text-lightGrey"/>
    </div>
    <div class="p-2">
      <Icon name="js"  class=" text-5xl text-lightGrey"/>
    </div>
    <div class="p-2">
      <Icon name="reacticon"  class=" text-5xl text-lightGrey"/>
      
    </div>
    <div class="p-2">
      <Icon name="html5"  class=" text-5xl text-lightGrey"/>
    </div>
    <div class="p-2">
      <Icon name="astro"  class=" text-5xl text-lightGrey"/>
    </div>
    <div class="p-2">
      <Icon name="cssicon"  class=" text-5xl text-lightGrey"/>
    </div>
    <div class="p-2">
      <Icon name="tailwindicon"  class=" text-5xl text-lightGrey"/>
    </div>
    <div class="p-2">
      <Icon name="ubento"  class=" text-5xl text-lightGrey"/>
    </div>
    <div class="p-2">
      <Icon name="storybook"  class=" text-5xl text-lightGrey"/>
    </div>
    <div class="p-2">
      <Icon name="sqliteicon"  class=" text-5xl text-lightGrey"/>
    </div>
    <div class="p-2">
      <Icon name="knexicon"  class=" text-5xl text-lightGrey"/>
    </div>
    <div class="p-2">
      <Icon name="express"  class=" text-5xl text-lightGrey"/>
    </div>
    <div class="p-2">
      <Icon name="nodeicon"  class=" text-5xl text-lightGrey"/>
    
    </div>
    <div class="p-2">
      <Icon name="git"  class=" text-5xl text-lightGrey"/>
    
    </div>  
    <div class="p-2">
      <Icon name="github"  class=" text-5xl text-lightGrey"/>
    
    </div>
    <div class="p-2">
      <Icon name="figma"  class=" text-5xl text-lightGrey"/>
    
    </div>    
    <div class="p-2">
      <Icon name="canva"  class=" text-5xl text-lightGrey"/>
    
    </div>  
  </div></div>






