---
import { Icon } from "astro-icon/components";
const icons = [
  "TypeScript",
  "JavaScript",
  "React",
  "HTML5",
  "Astro",
  "CSS",
  "TailwindCSS",
  "Ubuntu",
  "Storybook",
  "SQLite",
  "Knexjs",
  "Expressjs",
  "Nodejs",
  "Git",
  "Github",
  "Figma",
  "Canva",
  "Jenkins",
  "Docker",
  "PostgreSQL",
  "Nextjs",
  "Strapi",
  "Vercel",
];
---
<div class="overflow-hidden px-8 md:px-20 my-8 lg:mx-80 mx-12">
  <div class="relative w-full">
    <div class="flex w-fit animate-marquee gap-4 items-center">
      {icons.concat(icons).map((icon) => (
     <button 
        class="group relative p-2 text-lightGrey hover:brightness-105 hover:scale-125 transition-all duration-300 animate-spinOnce"
        aria-label={icon}
      >
          <Icon
            name={icon}
            class={`text-3xl md:text-${icon === "Jenkins" ? "6xl" : "5xl"} text-lightGrey transition-transform duration-300 group-hover:scale-125`}
            aria-label={icon}
          />
          <span
            class="absolute bottom-0 translate-y-full left-1/2 -translate-x-1/2 rounded bg-darkGrey px-2 py-1 text-xs text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none whitespace-nowrap z-50"
          >
            {icon}
          </span>
</button>
        </div>
      ))}
    </div>
  </div>
</div>
