---
import { Icon } from "astro-icon/components";

const icons = [
  "tsicon",
  "js",
  "reacticon",
  "html5",
  "astro",
  "cssicon",
  "tailwindicon",
  "ubento",
  "storybook",
  "sqliteicon",
  "knexicon",
  "express",
  "nodeicon",
  "git",
  "github",
  "figma",
  "canva",
  "jenkins",
  "docker",
  "postgres",
  "nextjs",
  'strapi',
  'vercel'
];
---


<div class="overflow-hidden shadow-sm pt-28 px-8 md:px-20 lg:px-40">
  <div class="marquee-content flex flex-wrap gap-4 items-center justify-center"> 
    {icons.map((icon) => (
      <button 
        class="group relative p-2 text-lightGrey hover:brightness-105 hover:scale-125 transition-all duration-300 animate-spinOnce"
        aria-label={icon}
      >
        <Icon 
          name={icon} 
          class={`text-${icon === "jenkins" ? "6xl" : "5xl"} text-lightGrey`} 
        />

        {/* Tooltip */}
        <span class="absolute bottom-full mb-2 left-1/2 -translate-x-1/2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-10">
          {icon}
        </span>
      </button>
    ))}
  </div>
</div>

