
---
import { CV_URL } from "../UI/CV.astro"
---
<a
  href={CV_URL}
  target="_blank"
  rel="noopener noreferrer"
  class="inline-block text-lightGrey bg-brightPink pl-6 pr-6 pt-2 pb-2 rounded-md hover:scale-105 transition-all duration-300"
>
  My CV
</a>
