

<button onclick="window.open('https://drive.google.com/file/d/1krXggXVeBDJtxhSjyrFDqsvLfOfBpTNa/view', '_blank');" class="text-lightGrey hover:brightness-105 bg-gradientPink pl-6 pr-6 pt-2 pb-2 rounded-md  hover:scale-105 transition-all duration-300">My CV</button>
