

<button onclick="window.open('https://drive.google.com/file/d/1mmUvaNZLvCOm36xRphLu-GXKk0lXyyK7/view?usp=drive_link', '_blank');" class="text-lightGrey hover:brightness-150 bg-gradientPink pl-6 pr-6 pt-2 pb-2 rounded-md">My CV</button>
