<div class="flex flex-col justify-center items-center ">

  <div class="text-lightGrey text-justify lg:pl-0 lg:pr-0 pl-8 pr-8 animate-fadeUp">
    <p>I'm Fatima a full stack developer with a unique background in interior design. After a decade of creating elegant, functional spaces, I transitioned into tech, graduating from Dev Academy.</p>
    <p>I work with HTML, CSS, JavaScript, TypeScript, React, Next.js, Node.js, SQL, Knex, and Tailwind CSS. I also have experience with CI/CD pipelines, databases, Jenkins, Docker, headless CMS tools like Strapi, and UI/UX design in Figma.</p>
    <p>My eye for detail and strong project management skills from my design career carry over to my development work, helping me build intuitive, scalable, and visually engaging digital experiences.</p>
    <p>I’m always keen to learn and grow, and I’d love to help build meaningful, innovative projects. Thanks for checking out my site!</p>
  </div>
</div>


