
---
import { Icon } from 'astro-icon/components'
---


<!-- Embed the `account` icon from `@iconify-json/mdi` -->
<a href="mailto:fatima.yarhamidi@gmail.com" target="_blank">


  <div class="col-span-1 flex justify-start p-2 pl-4 text-lg"><Icon name="email" class=" text-5xl text-brightPink"/></div>
 

</a>


