
---
import { Icon } from 'astro-icon/components'
---


<!-- Embed the `account` icon from `@iconify-json/mdi` -->
<a href="https://github.com/fatima-yar" target="_blank">


  <div class="col-span-1 flex justify-start p-2 pl-4 text-xl"><Icon name="github" class=" text-6xl text-brightPink"/></div>


</a>
