
---
import { Icon } from 'astro-icon/components'
---


<a href="https://www.linkedin.com/in/fatimayar/" target="_blank">

  
    <div class="col-span-1 flex justify-start p-2 pl-4 text-xl"><Icon name="linkedin" class=" text-5xl text-brightPink"/></div>
    
  
  </a>