
---
import { Icon } from 'astro-icon/components'
---


<a href="https://www.linkedin.com/in/fatimayar/" target="_blank">
  <div class="w-[100%] h-20 bg-gray-300 border-4 border-double border-brightPink grid grid-cols-2 hover:scale-105 transition-all duration-300  rounded-md">
  
    <div class="col-span-1 flex justify-start p-2 pl-4 text-xl"><Icon name="linkedin" class=" text-6xl text-darkBlue"/></div>
    <div class="col-span-1 flex text-xl justify-end pr-4 pt-5">LinkedIn</div>
  
  </div></a>