---
const {href} = Astro.props
---

 <span class="text-lightBlue font-bold border-b border-lightBlue inline-block transition duration-500 ease-in-out hover:scale-110 "><a href={href} target="_blank" rel="noopener noreferrer">
<slot/>  
</a></span>