
---
import { Icon } from 'astro-icon/components'
---


<!-- Embed the `account` icon from `@iconify-json/mdi` -->
<a href="https://github.com/fatima-yar" target="_blank">
<div class="w-[100%] h-20 bg-gray-300 border-4 border-double border-brightPink grid grid-cols-2 hover:scale-105 transition-all duration-300  rounded-md">

  <div class="col-span-1 flex justify-start pl-4 pt-5 text-lg">LinkedIn</div>
  <div class="col-span-1 flex justify-end p-2 pr-4"><Icon name="linkedin" class=" text-6xl text-darkBlue"/></div>

</div></a>
