---

---
<ul class="pl-4 pt-4">
<li class=" pb-2" ><a class="text-black hover:text-brightPink" href="/style-cuts">Style Cuts</a></li>
<li class=" pb-2"><a class="text-black hover:text-brightPink" href="/colour">Colour</a></li>
<li class=" pb-2"><a class="text-black hover:text-brightPink" href="/creative-colour">Creative Colour</a></li class=" pb-2">
<li class=" pb-2"><a class="text-black hover:text-brightPink" href="/foils">Foils</a></li class=" pb-2">
<li class=" pb-2"><a class="text-black hover:text-brightPink" href="/treatment">Treatment</a></li class=" pb-2">
<li class=" pb-2"><a class="text-black hover:text-brightPink" href="/perm">Perm</a></li class=" pb-2">
<li class=" pb-2"><a class="text-black hover:text-brightPink" href="/hair-up">Hair Up</a></li>
<ul/>