<div class="relative">
  <img src="./photo.jpg" class="absolute left-[-10px] z-10 w-52 " alt="Your Photo">
  <div class="absolute ml-2 top-[20px] border-[6px] border-brightPink bg-transparent h-64 w-52 rounded-md z-0"></div>
</div>