---

---

<ul class="hidden lg:flex lg:justify-center lg:space-x-20 text-md">

  <li><a class=" text-lightGrey hover:text-brightPink" href="/">Home</a></li>
  <li><a class=" text-lightGrey hover:text-brightPink" href="/About Me">About&nbspMe</a></li>
  <li><a class=" text-lightGrey hover:text-brightPink" href="/Portfolio">Portfolio</a></li>
  <li><a class=" text-lightGrey hover:text-brightPink" target="_blank"  href="https://drive.google.com/file/d/1mmUvaNZLvCOm36xRphLu-GXKk0lXyyK7/view?usp=sharingr">My&nbspCV</a></li>
  <li><a class=" text-lightGrey hover:brightness-105 bg-gradientPink pl-3 pr-3 pt-2 pb-2 rounded-md hover:scale-105" href="/contactus">Contact</a></li>
  <ul/>