---

---

<ul class="lg:flex lg:justify-end lg:space-x-24 lg:pr-16 text-md">

  <li><a class=" text-lightGrey hover:text-brightPink" href="/">Home</a></li>
  <li><a class=" text-lightGrey hover:text-brightPink" href="/portfolio">About&nbspMe</a></li>
  <li><a class=" text-lightGrey hover:text-brightPink" href="/sevices">Portfolio</a></li>
  <li><a class=" text-lightGrey hover:text-brightPink" href="/aboutus">About&nbspUs</a></li>
  <li><a class=" text-lightGrey hover:text-brightPink" href="/career">My&nbspCV</a></li>
  <li><a class=" text-lightGrey hover:brightness-150 bg-gradientPink pl-4 pr-4 pt-2 pb-2 rounded-md" href="/contactus">Contact</a></li>
  <ul/>