---

---

<ul class="hidden lg:flex lg:justify-center lg:space-x-20 text-md">

  <li><a class=" text-lightGrey hover:text-brightPink transition-all duration-300  " href="/">Home</a></li>
  <li><a class=" text-lightGrey hover:text-brightPink transition-all duration-300" href="/#about">About&nbspMe</a></li>
  <li><a class=" text-lightGrey hover:text-brightPink transition-all duration-300 scroll-smooth" href="/#portfolio">Portfolio</a></li>
  <li><a class=" text-lightGrey hover:text-brightPink transition-all duration-300" target="_blank"  href="https://drive.google.com/file/d/1k6MQv4xQeIyZGT8zho2EfV8_gwVY54F2/view">My&nbspCV</a></li>
  <li><a class=" text-lightGrey hover:brightness-105 bg-gradientPink transition-all duration-300 pl-3 pr-3 pt-2 pb-2 rounded-md hover:scale-105" href="/#contact">Contact</a></li>
  <ul/>