<p class="text-3xl pt-10 pb-10"><strong>Project Description:</strong></p>
<div class="text-left lg:text-xl ">
<p class=" pb-2">

</p>
<p class="lg:max-w-2xl pb-4">

</p>
<ul class="list-disc pl-20 text-left max-w-2xl pb-4">

</ul>

<p class="text-2xl pb-4"><strong>Technologies Used:</strong></p>
<ul class="list-disc pl-5 text-left max-w-2xl pb-4">
    <li>Frontend: React, TypeScript, CSS</li>
    <li>Backend: Node.js, Knex, SQLite</li>
</ul>
<p class="max-w-2xl ">
    I learned a lot during the development and expansion of this project, enhancing my skills and gaining valuable experience in full stack development.
</p>


 

  
<div class="flex justify-center items-center min-h-screen">
  <div class="w-full max-w-lg ">
    <p class="text-3xl text-lightGrey pb-6"><strong>Project Description:</strong></p>
    
    <div class="text-lightGrey text-left">
      <p class="pb-4">    Universal Book Collection is a platform designed for everyone to share and add their recently read books. I have plan to invite family and friends to contribute by adding the books they've rea, after I deploy my. The idea was to explore which books are considered interesting or not worth reading.</p>
      
      <p class="pb-4">    This project began as a bootcamp exercise to deepen our understanding of full stack development. After completing the course, I decided to personalize it by adding several features:</p>
      <ul class="list-disc pl-10 ">
        <li>Adding books with author names and page numbers.</li>
        <li>Editing book details to indicate whether they are must-reads.</li>
        <li>A delete button, secured with a password, ensuring only authorized users can delete entries.</li>
      </ul>
      
      <p class="pb-4">    I learned a lot during the development and expansion of this project, enhancing my skills and gaining valuable experience in full stack development.</p>
      <p class="pb-6 text-2xl">
        <strong>Technologies Used:</strong>
      </p>
      <ul class="list-disc pl-10 pb-4">
        <li>Frontend: React, TypeScript, CSS</li>
        <li>Backend: Node.js, Knex, SQLite</li>  
      </ul>
 <p>    I learned a lot during the development and expansion of this project, enhancing my skills and gaining valuable experience in full stack development.</p>
    </div>
  </div>
</div>

