
<div class="flex justify-center items-center ">
  <div class="w-full max-w-3xl p-8">
    
    <div class="text-lightGrey text-left">
      <p class="text-3xl text-lightGrey pb-6 pt-10"><strong>Project Description:</strong></p>
      <p class="pb-4">I developed a full-stack commenting service designed to seamlessly integrate with blog posts, enabling users to add, edit, delete, and reply to comments. This project was initially created to gain comprehensive experience in both frontend and backend development, this service is now successfully integrated into the <span class="text-lightBlue border-b border-lightBlue hover:border-gray-500"><a target="_blank"href="/brdg">BRDG</a></span> platform.</p>
      
      <p class=" pb-4 pt-4 text-xl"><strong>Key Features:</strong></p>
      <ul class="list-disc pl-10 pb-4">
        <li><strong>User Interactions: </strong>Users can add new comments, edit or delete their own comments, and reply to others.</li>
        <li><strong>Threaded Comments: </strong>Supports nested replies for organized discussions.</li>
        <li><strong>Real-Time Updates: </strong>Utilizes React Query for efficient data fetching and synchronization.</li>
        <li><strong>Dynamic Comment Count: </strong> Automatically updates the comment count with new additions.</li>
        <li><strong>Robust Backend: </strong> Built with Node.js and a RESTful API, backed by a SQL database for persistent storage.</li>
      </ul>
      
      <p class=" pb-4 pt-4 text-xl"><strong>Technology Stack:</strong></p>
      <p class=" pb-4 pt-0 pl-4 text-lg">Backend Development:</p>

      <ul class="list-disc pl-10 pb-4">
        <li><strong>Node.js & Expressjs: </strong>Developed a RESTful API for efficient CRUD operations.</li>
        <li><strong>SQLite3 & Knex.js: </strong>Implemented a database with a schema designed for nested comment threads.
       </li>
      </ul>
      <p class="pb-4 pt-4 text-lg pl-4 ">Frontend Development:</p>

      <ul class="list-disc pl-10 pb-4">
        <li><strong>React & TypeScript: </strong>Created a responsive and user-friendly interface.</li>
        <li><strong>State Management: </strong>Managed state using React’s context API and hooks.
       </li>
       <li><strong>Tailwind CSS: </strong>Ensured modern and consistent styling.
       </li>
      </ul>

  <p class="pb-4">This project provided valuable insights into full-stack development and has enhanced the <span class="text-lightBlue border-b border-lightBlue hover:border-gray-500"><a target="_blank"href="/brdg">BRDG</a></span> platform by offering an integrated commenting feature.</p>
      
    </div>
  </div>
</div>

