
---
import { Icon } from 'astro-icon/components'
const icons=['TypeScript','HTML5','React','CSS','Nodejs','Knexjs','SQLite'
]
---


<!-- Embed the `account` icon from `@iconify-json/mdi` -->
<div class="bg-darkGrey w-project mr-4 ml-4 rounded-2xl text-center mb-10 hover:bg-purple  hover:scale-105 transition-all duration-300 ">
 
  <div class="flex justify-end p-2">
  <Icon name="arrowicon" class="text-4xl text-gray-300 "/>
</div>
  <a href="/universalcollection"> 
<img src="./Book-Responsive.jpg" class="mx-auto pt-0 pr-2 pl-2" alt="pro"/>
  </a>
<div class="text-lightGrey pt-2 text-lg">
  Universal Book Collection
</div>

<div class="flex p-2 justify-center ">
  {icons.map((icon)=>(
    <div class = "p-1">
      <Icon name={icon} class="text-2xl text-lightGrey"/>
    </div>
  ))}
</div>

</div>
