
<div class="flex justify-center items-center ">
  <div class="w-full max-w-3xl p-8">
    
    <div class="text-lightGrey text-left">
      <p class="text-3xl text-lightGrey pb-6 pt-10"><strong>Project Description:</strong></p>
      <p class="pb-4">The hair salon website is a sleek and modern online presence, carefully crafted to showcase the salon's style, expertise, and services. With a responsive design and user-friendly interface, this website provides an exceptional experience for clients to explore, discover, and connect with the salon.</p>
      
      <p class="pb-4"> Starting with client consultations, I contributed to designing the main page, portfolio page using JSON for showcasing salon works, and the about us page. We used <span class="text-lightBlue border-b border-lightBlue hover:border-gray-500"><a target="_blank"href="https://www.figma.com/design/wqZ5bYiVh69Apop9lk6wiE/Image-Hair---V1?node-id=43-417&t=UifYyYsPrDxR7VeE-0">Figma</a></span> for initial designs and <span class="text-lightBlue border-b border-lightBlue hover:border-gray-500"><a target="_blank" href="https://www.canva.com/design/DAGKB5AuSTw/yTV9Y4Y7-rx7fTa-5HPC2g/edit?utm_content=DAGKB5AuSTw&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Canva</a></span> to break down each component for implementation planning.</p>
      <p class="pb-4">Technology Stack:</p>
      <ul class="list-disc pl-10 ">
        <li><strong>Astro: </strong>Selected for its exceptional performance advantages.</li>
        <li><strong>Tailwind CSS: </strong> For responsive and elegant styling.</li>
        <li><strong>JavaScript: </strong> For making the navigation bar responsive and converting it into a hamburger menu.</li>
      </ul>
      
  
      <p class="pb-4 pt-4 text-xl">
        <strong>Project Management:</strong>
      </p>
      <p class="pb-4">We utilized GitHub for version control and <span class="text-lightBlue border-b border-lightBlue hover:border-gray-500"><a target="_blank" href="https://github.com/users/fatima-yar/projects/1/views/1">GitHub Projects</a></span> for task management, organizing our workflow into manageable tickets to track progress effectively. We communicate in person and also through Discord.</p>
      <p class="pb-4 pt-4 text-xl">
        <strong>My Contributions:</strong>
      </p>
      <ul class="list-disc pl-10 pb-4">
        <li><strong>Main Page: </strong>Developed the main page layout, including the header, footer, and an embedded Google Map.</li>
        
        <li><strong>Portfolio Page: </strong>Utilized JSON to populate the portfolio page with dummy data, showcasing the salon's works.
       
        </li>  
       
        <li><strong>About Us Page: </strong>Built and populated the about us page with placeholder content.</li>
        
       
  

      </ul>
      <p class="pb-4 pt-4 text-xl">
        <strong> Development Process: </strong>
      </p>
<p class="pb-10"> After configuring Astro and integrating Tailwind CSS, I transformed our design concepts into functional UI components, ensuring seamless integration and dynamic content delivery through JSON.</p>

<p>At the end of this project, my aim was not only to create a functional and visually appealing website for a women-only fake hairdresser, but also to expand my skills by successfully learning and working with Astro, a platform I had heard about previously. I achieved my goal of implementing Astro effectively and creating a site that meets the needs of its intended users.</p>
    </div>
  </div>
</div>

