
<div class="flex justify-center items-center ">
  <div class="w-full max-w-3xl p-4">
    
    <div class="text-lightGrey text-left">
      <p class="text-3xl text-lightGrey pb-6 pt-10 p-4"><strong>Project Description:</strong></p>
      <p class="pb-4">    Universal Book Collection is a platform designed for everyone to share and add their recently read books. I have plan to invite family and friends to contribute by adding the books they've read, once deployed. The idea was to explore which books are considered interesting or not worth reading.</p>
      
      <p class="pb-4"> This project began as a bootcamp exercise to deepen our understanding of full stack development. After completing the course, I decided to personalize it to create a user-friendly platform where users could:</p>
      <ul class="list-disc pl-10 ">
        <li>Add recently read books with the title, author, number of pages, and their name to track who suggested each book.</li>
        <li>Ensure the number of pages field accepts only numeric input.</li>
        <li>Edit book entries to mark whether the book is a "must read" or not.</li>
        <li>Implement password-protected deletion to remove irrelevant books securely.</li>
      </ul>
      
  
      <p class="pb-4 pt-4 text-xl">
        <strong>To achieve this:</strong>
      </p>
      <ul class="list-disc pl-10 pb-4">
        <li><strong>Frontend Development:</strong> Used React and TypeScript for a responsive, intuitive UI, styling with CSS.</li>
        <li><strong>Backend Development:</strong> Employed Node.js, Knex, and SQLite3 for robust data management.</li>  
        <li><strong>User Interaction:</strong> Designed forms for seamless submission and editing of book details.</li>
        <li><strong>Security Measures:</strong> Integrated password protection for book deletion, ensuring only authorized users could remove entries.</li>
      </ul>
 <p>    This project shows my commitment to creating useful digital solutions and using my skills in both frontend and backend development.</p>
 
    </div>
  </div>
</div>

