---
import { Icon } from 'astro-icon/components'
---


<!-- Embed the `account` icon from `@iconify-json/mdi` -->
<div class="bg-darkGrey w-project mr-4 ml-4 rounded-2xl text-center mb-10 hover:bg-purple  hover:scale-105 transition-all duration-300 ">
 
  <div class="flex justify-end p-2">
  <Icon name="arrowicon" class="text-4xl text-gray-300 "/>
</div>
  <a href=""> 
<img src="./commingSoon.jpg" class="mx-auto pt-0 pr-2 pl-2" alt="pro"/>
  </a>
<div class="text-lightGrey pt-2 text-lg">
 Project Name
</div>
<div class="flex p-2 justify-center ">
  <div class="p-1">
Icons
</a>




</div>