



<div class="bg-darkGrey w-project mr-4 ml-4 rounded-2xl text-center mb-10 hover:bg-purple  hover:scale-105 transition-all duration-300 ">
  <div class="">
<img src="./project.jpeg" class="mx-auto pt-4 pr-2 pl-2" alt="pro"/>
</div>
<div class="text-lightGrey">
  Name The Project
</div>
<div class="text-lightGrey">
 Technology I used



</div>