
<div class="flex justify-center items-center ">
  <div class="w-full max-w-3xl p-4">
    
    <div class="text-lightGrey text-left">
      <p class="text-3xl text-lightGrey pb-6 pt-10"><strong>Project Description:</strong></p>
      <p class="pb-4">BRDG is a social media platform specifically designed for junior developers, recent graduates, career changers, and school leavers. Our team of five at Dev Academy recognized that many new entrants to the tech industry find platforms like LinkedIn overwhelming. We created BRDG to provide a more supportive space for their transition into tech careers.</p>
      
      <p class="pb-4"> My task was to handle the frontend development along with two other teammates, ensuring a user-friendly and visually appealing interface. I closely collaborated with the backend team to ensure smooth integration.</p>
      <p class="pb-4">I worked on the frontend development of the project using:</p>
      <ul class="list-disc pl-10 ">
        <li><strong>TypeScript</strong> and <strong>React</strong> for building dynamic user interfaces.</li>
        <li><strong>Tailwind</strong> CSS for efficient styling.</li>
        <li><strong>Storybook</strong> to developing and testing each UI component and page separately, ensuring every part of our frontend met design standards and worked seamlessly within the app.</li>
      </ul>
      
  
      <p class="pb-4 pt-4 text-xl">
        <strong>Key features I implemented:</strong>
      </p>
      <ul class="list-disc pl-10 pb-4">
        <li><strong>Landing Page:</strong> Created a landing page to introduce BRDG to new users, providing an initial impression and directing them to explore further.</li>
        
        <li><strong>UI Development:</strong>Designed and implemented various UI components including:
       <ul class="list-disc list-inside">
          <li class="pl-4 ">Search bar and text fields for easy navigation and interaction.</li>
        
          <li class="pl-4 ">Sections for displaying ads and upcoming events, initially hardcoded and designed for future interactivity.</li>
       
          <li class="pl-4 ">Detailed user experience and education sections within user profiles</li>
        </ul>
        </li>  
       
        <li><strong>Posting and Interaction:</strong>Enabled users to post images and texts to the feed.</li>
        
        <li><strong>Light and Dark Mode:</strong> Added light and dark mode options for better readability and user preference.</li>
      </ul>
 <p> By leveraging these technologies and methodologies, we successfully developed an MVP of BRDG within the week, featuring:</p>

       <ul class="list-disc pl-10 pt-4 ">
        <li><strong>Three Pages:</strong>  Introduced a cohesive Landing Page, dynamic Main Page with robust navigation and search functions, and detailed Profile Page highlighting user interactions.</li>
        <li><strong>Navigation and Search:</strong> Improved user navigation with a single menu across main and profile pages, making platform features easier to find and use.</li>
        <li><strong>User Interaction:</strong>Integrated a feed for posts, enabling users to create multimedia content, interact through comments, and reactions.</li>
      </ul>
    </div>
  </div>
</div>

