---

---
<div class="flex items-center">
  <a href="https://www.instagram.com/imagehair1" target="_blank" class="m-2 hover:scale-105  hover:opacity-75">
    <img src="./instagram.png" alt="Instagram" width="30px">
  </a>
  <a href="https://www.facebook.com/profile.php?id=100063812372146&ref=ts/" target="_blank" class="hover:scale-105  hover:opacity-75">
    <img src="./facebook.png" alt="Facebook" width="30px">
  </a>
</div>

