
  <div class="flex items-end">
    <div class="text-lightGrey font-audiowide text-5xl">
      <p>Hello,</p>
      <p>I'm <span class="text-brightPink">Fatima</span></p>
    </div>
    <div class="w-4 h-4 bg-brightPink ml-2 self-end rounded-full"></div>
  </div>
  <div class="text-lightGrey text-3xl">A FULL STACK DEVELOPER</div>
</div>
