<p class="text-gray-400 text-4xl">I'm a</p>
<div class="flex items-end">
  <div class="text-lightGrey font-audiowide text-6xl">
    <p>Full Stack</p>
    <p>Developer</p>
  </div>
  <div class="w-4 h-4 bg-brightPink ml-2 self-end"></div>
</div>